{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center my-2">
                <h5>Signup Form</h5>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
        </div>
    </div>
{% endblock %}
